COMPOSE_PROJECT_NAME=hotelmanagement
TZ=Asia/Kolkata
FRONTEND_PORT=5200
BACKEND_PORT=5100
DB_HOST=mariadb
DB_PORT=3306
DB_EXTERNAL_PORT=3307
DB_ROOT_USER=root
DB_ROOT_PASSWORD=change_this_root_password
DB_USER=knockout
DB_PASSWORD=change_this_database_password
DB_NAME=knockout
MASTER_DB_NAME=knockout_master
PHPMYADMIN_PORT=9200
PHPMYADMIN_UPLOAD_LIMIT=64M
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_API_PORT=9100
MINIO_CONSOLE_PORT=9101
MINIO_ACCESS_KEY=knockout
MINIO_SECRET_KEY=change_this_minio_password
MINIO_BUCKET=food-images
MINIO_PUBLIC_URL=http://localhost:9100
SMS_WEBHOOK_URL=
SMS_WEBHOOK_TOKEN=
